@model IEnumerable<AuthorViewModel>
@{
    ViewData["Title"] = "Authors List";
}


<h1 class="mt-5">Authors List</h1>

<!-- Create Author Button -->
<div class="container-fluid d-flex justify-content-end">
    <button class="btn btn-success mb-3  btn-sm" onclick="loadCreateModal()">
        <i class="fa fa-plus"></i> Add New Author
    </button>
</div>

<!-- Authors Table -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Website</th>
            <th>Bio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@Html.DisplayFor(a=> author.FullName)</td>
                <td>@Html.DisplayFor(a=> author.Email)</td>
                <td>@Html.DisplayFor(a=> author.Website)</td>
                <td>@Html.DisplayFor(a=> author.Bio)</td>
                <td>
                    <button class="btn btn-warning btn-sm" onclick="loadEditModal(@author.Id)">
                        <i class="fa fa-edit"></i> Edit
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="setDeleteAuthorId(@author.Id)">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="createAuthorModal" tabindex="-1" aria-labelledby="createAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Add New Author</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="createAuthorModalContent">
                
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editAuthorModal" tabindex="-1" aria-labelledby="editAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Edit Author</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="editAuthorModalContent">
                <!-- Content will be loaded via AJAX -->
            </div>
        </div>
        
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteAuthorModal" tabindex="-1" aria-labelledby="deleteAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-action="Delete">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Id" id="deleteAuthorId" />
                    <p>Are you sure you want to delete this author?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        function loadEditModal(id) {
            $.get('/Author/Edit/' + id, function (data) {
                $('#editAuthorModalContent').html(data);
                var form = document.getElementById("form");
                    $(form).removeData("validator")    // Added by jQuery Validation
                        .removeData("unobtrusiveValidation");  // Added by jQuery Unobtrusive Validation
                    $.validator.unobtrusive.parse(form);
                $('#editAuthorModal').modal('show');
            });
        }
        function loadCreateModal() {
            $.get('/Author/Create/', function (data) {
                $('#createAuthorModalContent').html(data);
                 var form = document.getElementById("form");
                    $(form).removeData("validator")    // Added by jQuery Validation
                        .removeData("unobtrusiveValidation");  // Added by jQuery Unobtrusive Validation
                    $.validator.unobtrusive.parse(form);
                $('#createAuthorModal').modal('show');
            });
        }

        function setDeleteAuthorId(id) {
            $('#deleteAuthorId').val(id);
            $('#deleteAuthorModal').modal('show');
        }
    </script>
}
