@model List<BookViewModel>
@{
	ViewData["Title"] = "Borrow A Book!";
}
<h1 class="text-center my-4">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="UpdateBooksAvailable" method="post" class="card shadow-lg p-4 rounded">
                <div class="form-group mb-3">
                    <label for="bookSelect" class="form-label">Select a Book to Borrow</label>
                    <select name="id" id="bookSelect" class="form-select">
                        @foreach (BookViewModel book in Model)
                        {
                            if (book.IsAvailable)
                            {
                                <option value="@book.Id">@book.Title</option>
                            }
                            else
                            {
                                <option value="@book.Id" disabled>@book.Title (Not Available)</option>
                            }
                        }
                    </select>
                </div>
                <div class="d-grid">
                    <input type="submit" value="Borrow" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

